.staff-page {
  padding: 0px 123px;
}

.image {
  border: solid black;
  width: 200px;
  height: 265px;
  transition: opacity 0.5s ease-in-out;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
}

.card-lead {
  width: 200px;
  margin: 10px;
}

.card-lead p {
  text-align: left;
}

.card-lead a {
  padding: 10px;
}

.off {
  display: none;
}

.on {
  background-color: #ffffff;
  position: absolute;
  width: 205px;
  height: fit-content;
  display: block;
  z-index: 2;
}

.overlay {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

@media only screen and (max-width: 805px) {
  .staff-page {
    padding: 10px 50px;
  }

  /* .card-lead {
    width: calc(50% - 20px);
  } */
}
