.why-donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 123px;
}

.whydonate-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 28px;
}

.whydonate-img img {
  width: 1060px;
  height: 388px;
}

.donate-first-div {
  padding: 70px 0px;
}

.donate-first-div h1 {
  font-size: 64px;
  padding: 5px;
  color: black;
}

.donate-first-div p {
  font-size: 24px;
}

.donate-card {
  display: flex;
  padding: 50px 0px !important;
}

.donate-card img {
  width: 510px;
  height: 310px;
}

.donate-card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
}

.donate-card-text h1 {
  font-size: 28px;
  padding: 15px;
}
.donate-card-text p {
  font-size: 16px;
  padding: 15px;
}

.whydonate-opp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* width: 100%; */
  /* padding: 80px; */
  margin: 90px 0px;
  padding: 90px 0px;
  background-image: linear-gradient(
    to bottom right,
    rgb(178, 228, 255),
    rgb(212, 212, 212)
  );
}

.whydonate-opp h1 {
  font-size: 40px;
  padding: 0px 200px;
}

.hyperlinks {
  margin: 40px;
}

.hyperlinks a {
  text-decoration: none;
}

.donate-hyperlink {
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  padding: 14px 16px;
  margin: 24px;
}

.faq-hyperlink {
  font-size: 16px;
  margin: 24px;
  padding: 14px 16px;
}

@media only screen and (max-width: 805px) {
  .why-donate {
    padding: 10px 30px;
  }
  .donate-first-div h1 {
    font-size: 40px;
  }
  .donate-card-text {
    padding: 0px !important;
  }
  .donate-card {
    display: flex;
    flex-direction: column;
    /* padding: 50px 0px !important; */
  }

  .donate-card > div > img {
    width: 100%;
    height: 239px;
  }
  .donate-card-text h1 {
    font-size: 28px;
    padding: 15px 0px !important;
  }
  .donate-card-text p {
    font-size: 16px;
    padding: 15px 0px !important;
  }
  .donate-second {
    flex-direction: column-reverse;
  }
  .whydonate-opp h1 {
    font-size: 32px;
    padding: 0px 30px;
  }
  .donate-first-div p {
    font-size: 16px;
  }
}
