/* .moonshots-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 123px;
}

.moonshots-top {
  height: 512px;
  background-image: url(https://www.colorhexa.com/ebebeb.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 805px) {
  .moonshots-page {
    padding: 10px 30px;
  }
} */
