.column {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.download-btn {
  padding: 8px 15px;
  border: solid 0.5px black;
  border-radius: 7px;
  background-color: white;
}

.row {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  padding: 20px 0px;
}

.publication-form-control {
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.publication-form-control:focus {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 123, 255, 0.5);
  outline: none;
}
