.donate-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 40px 100px;
}

.donate-head {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 30px;
}

.citizen-dropdown {
  padding: 0;
  width: 100%;
}

.citizen-dropdown-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.drop-content {
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  margin: 0;
  color: black;
  position: relative;
  font-size: 24px;
}

.drop-content::after {
  content: "";
  height: 5px;
  width: 5px;
  border: 2px solid black;
  display: block;
  border-left: none;
  border-top: none;
  margin: 0 6px 4px 10px;
  cursor: pointer;
  transform: translateY(-50%) rotate(45deg);
  transition: transform 665ms cubic-bezier(0, 0, 0.1, 1);
  opacity: 0.5;
  position: absolute;
  right: 20px;
  top: 50%;
}
.ans-sec {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.8s ease;
  padding: 0 20px;
  opacity: 0;
}
.answer {
  font-size: 20px;
}
.ans-sec > * {
  opacity: 0;
  transition: all 0.8s ease;
}
.input {
  display: none;
}

.input:checked + label + div {
  max-height: 200px;
  visibility: visible;
  opacity: 1;
  padding: 20px;
}
.input:checked + label + div > * {
  opacity: 1;
}

.input:checked + label::after {
  transform: translate(0px, 3px) rotate(-135deg);
}

.donate-form {
  display: flex;
  justify-content: center;
}

.donate-form-inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: left;
  width: 725px;
}

.donate-part {
  grid-column: span 12;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 24px 42px;
  gap: 24px 42px;
}

.grid .frequency,
.grid .amount {
  grid-column: span 4;
}

.grid .names {
  grid-column: span 6;
}

.grid .long {
  grid-column: span 12;
}

.radio-hidden {
  height: 1px;
  width: 1px;
  opacity: 0;
  grid-area: none;
}

.radio-label {
  margin: 0px;
  padding: 8px 10px;
  line-height: 24px;
  text-align: center;
  border: 2px solid #1e1e1e;
  border-radius: 36px;
}

input:checked + .radio-label {
  color: #fff;
  background: #1e1e1e;
  border: 2px solid transparent;
}

.radio-label-with-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  line-height: 24px;
  text-align: center;
  border: 2px solid #c7c7c7;
  border-radius: 36px;
  grid-column: span 4;
}

#form-donate-amount-costum {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #1e1e1e;
}

input:checked + .radio-label-with-img {
  border: 2px solid black;
}

.radio-label-with-img-text {
  padding: 5px;
}

.radio-label-with-img-img {
  width: inherit;
  height: 150px;
  border-top-right-radius: 36px;
  border-top-left-radius: 36px;
}

.input-label input {
  margin: 0;
  padding: 8px;
  margin: 8px;
  line-height: 24px;
  border: 2px solid #1e1e1e;
  border-radius: 36px;
  width: 100%;
}

.donate-recap-section {
  display: flex;
  flex-direction: column;
  margin: 32px 0px;
}

.donate-recap-section div {
  display: flex;
  justify-content: space-between;
}

.donate-submit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-submit-section p {
  padding: 20px 50px;
  font-size: 16px;
}

.donate-btn {
  height: 50px;
  width: 387px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* font-sizes, padding, borders and margins */

.donate-head h1 {
  font-size: 40px;
}

.donate-head p,
.recap {
  font-size: 24px !important;
}

.donate-part {
  width: 725px;
  padding-bottom: 81px;
}

.donate-part fieldset {
  border: 0px;
}

.page-marker {
  color: #979797;
  padding: 8px 12px;
}

.donate-form h1 {
  font-size: 24px;
}

.donate-form p {
  font-size: 16px;
}

.donate-form-sec-title {
  font-size: 24px;
  padding: 8px 0px;
}

.radio-label {
  font-size: 24px;
  padding: 10px 40px;
}

.labelless-input {
  font-size: 16px;
}

.input-label {
  font-size: 24px;
  padding: 10px 40px;
}

.donate-recap-section p {
  font-size: 28px;
}

.donate-recap-section label {
  margin: 16px 5px;
  font-size: 24px;
}

.donate-recap-section label input {
  margin: 16px 5px;
  width: 24px;
  height: 24px;
}

.donate-submit-section {
  margin-top: 32px;
}

.donate-submit-section p {
  font-size: 16px;
  padding: 16px 150px;
  text-align: center;
}

.donate-btn {
  font-size: 16px;
}

.donate-page hr {
  margin: 32px 0px;
}
