.years-row {
  display: flex;
  justify-content: space-around;
}

.years-row * {
  padding: 0px 20px;
}

.years {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousal-btn {
  background-color: white;
  border: none;
}

.icon-100 {
  font-size: x-large;
}

#btn-off {
  display: none;
}
