.footer-container {
  height: auto;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #979797;
  padding: 0px 123px;
}
.footer-container-inner {
  width: 100%;
  overflow-x: hidden;
}
.content {
  height: auto;
  width: 100%;
}
.content,
.social-links {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  width: 100%;
}

/* .footer-list {
  height: 90%;
} */

.footer-list h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-list ul li {
  display: flex;
  justify-content: left;
}
.footer-list ul {
  padding: 0;
}

li {
  list-style: none;
}

.footer-list ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
}
.icons-container {
  display: flex;
  margin-left: auto;
  width: 197px;
  height: 34px;
  justify-content: space-between;
}
.icon {
  font-size: 24px;
}

.icons-container a {
  color: black;
}

.footer-icon {
  font-size: 32px;
}
.social-links span a {
  text-decoration: none;
  font-size: 14px;
  color: #333333;
}

.social-links span {
  margin-right: 16px;
  font-size: 14px;
}

.social-links {
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  padding: 30px 0px;
}

.footer-brand-name {
  display: none;
}

.footerArrow {
  display: none;
}
@media only screen and (max-width: 805px) {
  .footer-container {
    /* max-width: 450px; */
    padding: 10px 30px;
  }

  .footer-brand-name {
    display: block;
    margin: 10px 0px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
  /* 
  .footer-list ul {
    display: none;
  } */

  /* .footer-list h4 {
    margin: 21px 0px;
  } */

  .footerArrow {
    display: block;
  }

  .footer-list-title {
    display: flex;
    justify-content: space-between;
    padding: 21px 0px;
  }

  .footer-list-title:hover {
    color: #dedede;
  }

  .footer-list h4 {
    margin: 0px;
  }

  .footerArrow.active {
    transition: rotate(90deg) 1s ease;
  }

  .footer-list-items {
    max-height: 0px;
    visibility: hidden;
    transition: max-height 0.7s ease-in-out, visibility 0.7s ease-in-out;
  }

  .footer-list-items.open {
    /* display: flex;
    flex-direction: column; */
    max-height: 1000px;
    visibility: visible;
    transition: max-height 0.7s ease-in-out, visibility 0.7s ease-in-out;
  }

  .social-links {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    align-items: left;
    padding: 10px 0px;
  }
  .icons-container {
    margin-left: 0px;
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }

  .icons-container a {
    margin: 5px;
  }
  .policy-text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
