.make-a-gift-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 120px;
}

.make-a-gift-div .give-para1{
    padding: 10px 40px;
}

.give-para2{
    padding: 20px 80px;
}