.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 30px;
  height: 66px;
  width: calc(100% - 356px);
  margin: 0 auto;
}
.nav-container-sub {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 120;
}
.nav-link {
  font-size: 14px; /* Set your desired font size here */
  text-decoration: none; /* Remove the default underline for all links */
  color: black; /* Set the default color for links */
}

.nav-link.active {
  color: blueviolet; /* Add underline style for active links */
}

.sub-nav-list {
  width: 100%;
  justify-content: flex-end;
  padding: 0 10px;
  margin: 0;
}
.sub-nav-first-child {
  margin-right: auto;
  margin-left: 0;
}
.font20 {
  font-size: 20px;
  font-weight: bold;
}
